<% if(alerts && alerts.error) { %>

<div class="alert alert-warning alert-dismissible show " role="alert">
<% alerts.error.forEach((msg) =>{ %>
  <strong>Holy guacamole!</strong>
  <%= msg %>
  <button type="button" class="close closeable" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <br>
  <%  }) %>
</div>

<% } %>

<% if(alerts && alerts.success) { %>

<div class="alert alert-success alert-dismissible show" role="alert">
  <% alerts.success.forEach((msg) =>{ %>
  <strong><%= msg %></strong>
  <button type="button" class="close closeable" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
<%  }) %>
</div>

<% } %>
