<div class="footer-v3">
				<!--/footer-->
				<div class="copyright">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<p>
									2019 © All Rights Reserved.
									<a target="_blank" href="https://twitter.com/htmlstream">Htmlstream</a> | <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
								</p>
							</div>
							<!-- Social Links -->
							<div class="col-md-6">
								<ul class="social-icons pull-right">
									<li><a href="#" data-original-title="Facebook" class="rounded-x social_facebook"></a></li>
									<li><a href="#" data-original-title="Twitter" class="rounded-x social_twitter"></a></li>
									<li><a href="#" data-original-title="Goole Plus" class="rounded-x social_googleplus"></a></li>
									<li><a href="#" data-original-title="Linkedin" class="rounded-x social_linkedin"></a></li>
									<li><a href="#" data-original-title="Pinterest" class="rounded-x social_pintrest"></a></li>
								</ul>
							</div>
							<!-- End Social Links -->
						</div>
					</div>
				</div><!--/copyright-->
			</div>
