<div class="container justify-content-center">
   <div class="row justify-content-center">
      <h1>Not Found</h1>
   </div>
   <div class="row justify-content-center">
      <p>I was unable to locate the page !! </p>
   </div>
   <div class="row justify-content-center">
      <img src="https://www.sunnyskyz.com/uploads/2017/11/mm0d2-puppy-sad-face-2.jpg" alt="dog picture">
   </div>
</div>
