<div class="wrapper">
  <!-- All this section is the first image -->
  <div class="job-img margin-bottom-30">
    <div class="job-banner">
      <h2>Discover the Companies You would love to Work for ...</h2>
    </div>
  </div>
  <!-- All this section is the one with the blocks -->
  <div class="container content">
			<div class="row margin-bottom-40">
				<div class="col-md-4 col-sm-6">
					<div class="service-block service-block-sea service-or">
						<div class="service-bg"></div>
						<i class="icon-custom icon-color-light rounded-x fa fa-lightbulb-o"></i>
						<h2 class="heading-md">Default Box</h2>
						<p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="service-block service-block-red service-or">
						<div class="service-bg"></div>
						<i class="icon-custom icon-color-light rounded-x icon-line icon-fire"></i>
						<h2 class="heading-md">Red Box</h2>
						<p>Donec id elit non mi porta gravida at eget metus id elit mi egetine usce dapibus elit nondapibus</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="service-block service-block-blue service-or">
						<div class="service-bg"></div>
						<i class="icon-custom icon-color-light rounded-x icon-line icon-rocket"></i>
						<h2 class="heading-md">Dark Box</h2>
						<p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
					</div>
				</div>
			</div>
		</div>
  <!-- All this section is the one that has user photos -->
    <div class="parallax-team parallaxBg" style="background-position: 50% 247px;">
			<div class="container content">
				<div class="title-box-v2">
					<h2>People that have <span class="color-green">Succed</span> with Jobhub</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				</div>

				<div class="row">
					<!-- Team v2 -->
					<div class="col-md-3 col-sm-6">
						<div class="team-v2">
							<img class="img-responsive" id="testphothos" src="assets/img/testimonials/kyary.jpg" alt="">
							<div class="inner-team">
								<h3>Juana Anderson</h3>
								<small class="color-green">CEO, Chief Officer</small>
								<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
							</div>
						</div>
					</div>
					<!-- End Team v2 -->

					<!-- Team v2 -->
					<div class="col-md-3 col-sm-6">
						<div class="team-v2">
							<img class="img-responsive" id="testphothos" src="assets/img/testimonials/ezra.jpg" alt="">
							<div class="inner-team">
								<h3>Nikita Perez</h3>
								<small class="color-green">Project Manager</small>
								<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
							</div>
						</div>
					</div>
					<!-- End Team v2 -->

					<!-- Team v2 -->
					<div class="col-md-3 col-sm-6">
						<div class="team-v2">
							<img class="img-responsive" id="testphothos" src="assets/img/testimonials/michio.jpg" alt="">
							<div class="inner-team">
								<h3>Matheus Pontes</h3>
								<small class="color-green">VP of Operations</small>
								<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
							</div>
						</div>
					</div>
					<!-- End Team v2 -->

					<!-- Team v2 -->
					<div class="col-md-3 col-sm-6">
						<div class="team-v2">
							<img class="img-responsive" id="testphothos" src="assets/img/testimonials/lila.jpeg" alt="">
							<div class="inner-team">
								<h3>Lila Elisson</h3>
								<small class="color-green">Director, R &amp; D Talent</small>
								<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
     <!-- All this section is the one that has brand logos -->
      <div class="container content job-partners">
  				<div class="title-box-v2">
  					<h2>Our <span class="color-green">Featured</span> Partners</h2>
  					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  				</div>
			<ul class="list-inline our-clients" id="effect-2">
				<li>
					<figure>
						<img src="assets/img/clients2/ea-canada.png" alt="">
						<div class="img-hover">
							<h4>Ea Canada</h4>
						</div>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/img/clients2/inspiring.png" alt="">
						<div class="img-hover">
							<h4>Inspiring</h4>
						</div>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/img/clients2/ucweb.png" alt="">
						<div class="img-hover">
							<h4>UcWeb</h4>
						</div>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/img/clients2/clarks.png" alt="">
						<div class="img-hover">
							<h4>Clarks</h4>
						</div>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/img/clients2/corepreserves.png" alt="">
						<div class="img-hover">
							<h4>Core Preserves</h4>
						</div>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/img/clients2/finals.png" alt="">
						<div class="img-hover">
							<h4>USL Champions</h4>
						</div>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/img/clients2/getaround.png" alt="">
						<div class="img-hover">
							<h4>GetAround</h4>
						</div>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/img/clients2/baderbrau.png" alt="">
						<div class="img-hover">
							<h4>Baderbrau</h4>
						</div>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/img/clients2/emirates.png" alt="">
						<div class="img-hover">
							<h4>Emirates</h4>
						</div>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/img/clients2/fddw.png" alt="">
						<div class="img-hover">
							<h4>Field Days</h4>
						</div>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/img/clients2/district-karaoke.png" alt="">
						<div class="img-hover">
							<h4>District Karaoke</h4>
						</div>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/img/clients2/marianos.png" alt="">
						<div class="img-hover">
							<h4>Mariano's</h4>
						</div>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/img/clients2/grifting-tree.png" alt="">
						<div class="img-hover">
							<h4>The Grifting Tree</h4>
						</div>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/img/clients2/jaguar.png" alt="">
						<div class="img-hover">
							<h4>Jaguar</h4>
						</div>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/img/clients2/hermes.png" alt="">
						<div class="img-hover">
							<h4>Hermes</h4>
						</div>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/img/clients2/starbucks.png" alt="">
						<div class="img-hover">
							<h4>Starbucks</h4>
						</div>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/img/clients2/national-geographic.png" alt="">
						<div class="img-hover">
							<h4>National Geographic</h4>
						</div>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/img/clients2/much-more.png" alt="">
						<div class="img-hover">
							<h4>Much More</h4>
						</div>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/img/clients2/hotiron.png" alt="">
						<div class="img-hover">
							<h4>Hotiron</h4>
						</div>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/img/clients2/fred-perry.png" alt="">
						<div class="img-hover">
							<h4>Fred Perry</h4>
						</div>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/img/clients2/bellfield.png" alt="">
						<div class="img-hover">
							<h4>Bellfield</h4>
						</div>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/img/clients2/getapp.png" alt="">
						<div class="img-hover">
							<h4>GetApp</h4>
						</div>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/img/clients2/austrian-airlines.png" alt="">
						<div class="img-hover">
							<h4>Austrian Airlines</h4>
						</div>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/img/clients2/general-electric.png" alt="">
						<div class="img-hover">
							<h4>General Electronic</h4>
						</div>
					</figure>
				</li>
			</ul>
		</div>

</div>
