<div class="container">
  <form  action="/search" method="post">
      <div class="row form-group">
         <div class="col">
           <input type="text" class="form-control" name="jobDescription" placeholder="e.g. Phyton">
         </div>
         <div class="col">
           <input type="text" class="form-control" name="jobLocation" placeholder="e.g. Seattle">
         </div>
         <div class="col">
           <div class="col align-bottom">
             <button type="submit" class="btn btn-outline-success">Search</button>
           </div>
         </div>
      </div>
  </form>
</div>
